<header>
   <img src="assets/img/matheus.jpeg"
     alt="Matheus Alencar Silva - Foto de perfil"
     width="130"
     height="130"
     loading="eager"
/>

    <h1>Matheus Alencar</h1>
</header>

<aside>
    <div class="container">
        <p class="">Frontend Softeware Development | React | Angular | Javascript | Typescript</p>
        <p class="">São Bernardo do Campo, São Paulo, Brasil</p>
        <p class="">
            Ola !!
            Estou na are de desenvolvimento de software a 3 anos, com forte atuação em desenvolvimento Frontend.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="/assests/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download Curriculo
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/matheus-alencar-silva/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img
                  src="assets/icons/whatsapp.svg"
                  alt="Icone para contato do WhatsApp"
                  width="22px"
                  height="24px"
                />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5511979706131">
                        <strong>
                            Envie uma menssagem para:
                        </strong>
                        <p>WhatsApp (11) 97970-6131</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img
                  src="/assets/icons/whatsapp.svg"
                  alt="Icone para contato do WhatsApp"
                  width="22px"
                  height="24px"
                />
                <figcaption>
                    <a href="mailto:malencar292@gmail.com">
                        <strong>
                            Envie uma E-mail para:
                        </strong>
                        <p>WhatsApp (11) 97970-6131</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>